.navbar {
  background-color: #f9b2b2;
}

.container-fluid>img {
  background-color: white;
  border-radius: 100%;
}

.nav-link.active {
  background-color: rgba(48, 61, 92, 0.4);
  color: white;
  border-radius: 5px;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-nav .dropdown-menu {
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-nav .dropdown-item {
  padding: 0.5rem 1rem;
}

.navbar-nav .dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-item {
  cursor: pointer;
}

@media (min-width: 992px) {

  .nav-link:hover {
    background-color: rgba(48, 61, 92, 0.4);
    color: white;
    border-radius: 5px;
  }

  .nav-link.active {
    background-color: rgba(48, 61, 92, 0.4);
    color: white;
    border-radius: 5px;
  }

}

@media (min-width: 1200px) {

  .logo-img {
    width: 500px;
  }

  .nav-link:hover {
    background-color: rgba(48, 61, 92, 0.2);
    color: white;
    border-radius: 5px;
  }

  .nav-link.active {
    background-color: rgba(48, 61, 92, 0.6);
    color: white;
    border-radius: 5px;
  }

}
