<div class="sidebar bg-dark d-flex flex-column flex-shrink-0 p-3">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="consultas" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-chat-dots me-2"></i>
        Consultas
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="blog" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-pencil-square me-2"></i>
        Blog
      </a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a routerLink="usuarios" routerLinkActive="active" class="nav-link text-white">-->
<!--        <i class="bi bi-people me-2"></i>-->
<!--        Usuarios-->
<!--      </a>-->
<!--    </li>-->
  </ul>
</div>
